<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
  </head>
<body>
<form>
  <nav>
    <div class="menu">
      <div class="logo">
        <a href="#">Polling Website</a>
      </div>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="signuppage">SignUp</a></li>
        <li><a href="loginpage">Login</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Feedback</a></li>
      </ul>
    </div>
  </nav>
  <div class="img"></div>
  <div class="center">
    <div class="title">Creat Amazing Poll</div>
  </div>
</form>
</body>
</html>
