<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title> Already a User Login </title>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Rubik:400,700'>
    <link rel="stylesheet" href="static/loginpage.css">

</head>
<body>
<div class="login-form">
  <form action="/loginpage_data" >

    <h1>Login</h1>
    <div class="content">
      <div class="input-field">
        <input type="email" placeholder="Email" autocomplete="nope" name="Email">
      </div>
      <div class="input-field">
        <input type="password" placeholder="Password" autocomplete="new-password" name="psw">
      </div>
      <a href="ResetPassword" class="link">RESET PASSWORD?</a>
    </div>
    <div class="action">
<!--      <button>Register</button>-->
      <button>Sign in</button>
    </div>
  </form>
</div>
  <script  src="./script.js"></script>

</body>
</html>
